.post_card {
   background-color: #f9f9f9;
   border-radius: 8px;
   box-shadow: 0 0 5px gray;
   padding: 20px;
   width: calc(80% - 10px);
   text-align: center;
   box-sizing: border-box;
   margin-bottom: 10px;
}

.post_card h2 {
   font-size: 20px;
   color: #333333;
   margin: 10px 0 5px;
}
.post_card h2 a {
   text-decoration: none;
}
.post_card h2 a:hover {
   text-decoration: underline;
}